.darkMode {
  margin-top: 0;
  background-image: url("https://cdn.pixabay.com/photo/2016/08/26/11/54/black-and-white-1621976_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
}

body{
  background-image: url("https://ak1.picdn.net/shutterstock/videos/19388851/thumb/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.fullResult{
  background: grey;
  opacity: 0.7;
}

.ForecastTable {
  display: grid;
  grid-template-areas: 
  "h"
  "d"
}

.tableHeaders{
  grid-area: h;
  margin-top: 10px;
  margin-left:10%;
  margin-right:6%;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-areas: "l f"
}
.locationName{
  margin-top: 10px;  
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  grid-area: l;
}
.favorite{
  font-size: 20px;
  grid-area: f;
  color: gold;
  background: none;
  border: none;
  cursor: pointer;
}
.delete{
  font-size: 20px;
  grid-area: f;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}




/* .PopUp{
height: 200px;
width:fit-content;
position: fixed;
background-color: rgba(88, 88, 252, 0.842);
left: 10%;
top: 20%;
padding: 7px;
border-radius: 15px;
margin: auto;
display: grid;
grid-template-columns: repeat(5, 1fr);
cursor: zoom-out;
} */
